<script>
  let configs;
  let configSelecionada;

  document
    .getElementById("salvar")
    .addEventListener("click", async function (event) {
      event.preventDefault();

      const formData = {
        connectionName: document.getElementById("connectionName").value,
        serverHost: document.getElementById("serverHost").value,
        serverPort: document.getElementById("serverPort").value,
        proxyHost: document.getElementById("proxyHost").value,
        proxyPort: document.getElementById("proxyPort").value,
        payload: document.getElementById("payload").value,
      };

      await fetch("http://localhost:4000/cadastrar", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(formData),
        credentials: "include",
      });
    });

  document
    .getElementById("editar")
    .addEventListener("click", async function (event) {
      event.preventDefault();

      const formData = {
        connectionName: document.getElementById("connectionName").value,
        serverHost: document.getElementById("serverHost").value,
        serverPort: document.getElementById("serverPort").value,
        proxyHost: document.getElementById("proxyHost").value,
        proxyPort: document.getElementById("proxyPort").value,
        payload: document.getElementById("payload").value,
      };
      formData.index = configSelecionada.id;

      await fetch("/editar", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(formData),
        credentials: "include",
      });
    });

  document
    .getElementById("excluir")
    .addEventListener("click", async function (event) {
      event.preventDefault();

      await fetch("/excluir", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ id: configSelecionada.id }),
        credentials: "include",
      });
    });

  async function carregarConfigs() {
    const response = await fetch("/configs", {
      method: "GET",
      credentials: "include",
    });
    const data = await response.json();
    configs = data;
    data.forEach((element) => {
      const option = document.createElement("option");
      option.value = element.id;
      option.text = element.nome;
      document.querySelector(".js-example-basic-single").appendChild(option);
    });
  }

  document.addEventListener("DOMContentLoaded", carregarConfigs);
</script>
